@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-serif: 'Josefin-Sans';
  --font-mono: 'Roboto';
  --shadow-cyan: 0 0 20px 0 rgba(94, 286, 220, 0.5);
  --shadow-cyanmediumshadow: 10px 10px 200px 150px rgba(94, 285, 220, 0.5);
  --shadow-orangeMediumShadow: 10px 10px 200px 150px rgba(240, 189, 94, 0.5);
  --breakpoint-sm: 350px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
body {
  @apply bg-amber-950;
}
